@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 220, 221, 222;
  --background-rgb: 54, 57, 63;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Discord-specific scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f3136;
} 